<html>
  <head>
  </head>
  <body>
    <h1>Welcome to my blog</h2>
    <ul>
      {% for post in data.posts %}
      <li><a href="{{ post.basename }}.html">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
